doctype html
head
        title Look at me, I am the donut now!
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
        script(src='https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
body
    script.
        var user_data = !{be_userdata};
        var event_data = !{be_eventdata};
    canvas#chart
    script(src='/static/js/donut.js')

