doctype html  
html(lang='en')  
head
		title Lobby
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css') 
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel='stylesheet', href="../css/styles.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
body
	div.container
		h1.center Events
		a.btn.btn-primary.btn-md(type='button', href='/create_event') Create new event
		a.btn.btn-danger.btn-md(type='button', href='/logout') Logout
		h3 Current events
		div.list-group
			each val in events
				if val.end_datetime == null
					a(href='/event/' + val.id, class="list-group-item list-group-item-action list-group-item-success")= val.name
		h3 Past events
		div.list-group
			each val in events	
				if val.end_datetime != null
					a(href='/event/' + val.id, class="list-group-item list-group-item-action list-group-item-danger")= val.name
