doctype html  
html(lang='en')  
head
		title Lobby
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css') 
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
body
	h1 Events
	div.container
		div.list-group
			each val in [0,1,2,3,4,5]
				a(href='/event/' + val, class="list-group-item list-group-item-action list-group-item-success")= "test" + val
